.fourth-page {
  background-color: slateblue;
  padding: 85px 20px;
  text-align: center;
}

.fourth-page h1 {
  color: white;
  margin-bottom: 20px;
  font-family: fantasy;
  font-size: 24px;
}

.content-wrapper {
  display: flex;
  font-family: fantasy;
  justify-content: center;
  align-items: flex-start;
  gap: 100px;
  flex-wrap: wrap;
}



.form {
  max-width: 500px;
  margin: 0 auto;
  text-align: left;
  background-color: #6a5acd;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 20px 30px pink;
}

.form label {
  font-family: fantasy;
  display: block;
  margin-top: 10px;
  font-weight: bold;
  color: white;
}

.form input {
  background-color: white;
  color: black;
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 10px;
  border: 1px solid black;
  border-radius: 5px;
}

.form button {
  width: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  margin-top: 15px;
  cursor: pointer;
  box-shadow: 0 10px 20px purple;
}


@media (max-width: 768px) {
  .fourth-page {
    padding: 40px 10px;
  }

  .fourth-page h1 {
    font-size: 22px;
  }

  .form {
    padding: 15px;
  }
}